#projectlogo img
{
	border: 0px none;
	width: 90px;
	height: auto;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

#projectname
{
	font-size: 30px;
	font-family: Arial;
	margin: 0px;
	padding: 2px 0px;
	color: #FFFFFF;
	font-weight: 800;
	width: 100%;
	margin-top: 5px;
}

#projectnumber
{
	font-size: 50%;
	font-family: 50% Arial;
	padding: 0px;
	color: #3b9eee;
    float: right;
    white-space: nowrap;
    overflow: hidden;
	right: 180px;
	margin-top: 10px;
	position:absolute;
}

#titlearea
{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 1px solid #5373B4;
	background-color: #004C97;
}

#customProjectNumber {
    position: absolute;
    right: 180px;
}